/* RESET BÁSICO */
body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: #f4f6f9;
}

/* HEADER */
header {
    background-color: #002b5c;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LOGO Y TITULO */
.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 60px;
    margin-right: 15px;
}

.icono-grande {
    font-size: 6rem;
    transition: transform 0.3s, color 0.3s;
}

.icono-grande:hover {
    transform: scale(1.2);
} 

/* NAVEGACIÓN */
nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #ffd700;
}

/* BOTÓN AULA VIRTUAL DESTACADO */
.btn-aula {
    background-color: #ffd700;
    color: #002b5c !important;
    padding: 8px 15px;
    border-radius: 5px;
}

.btn-aula:hover {
    background-color: #e6c200;
}

/* CONTENIDO */
main {
    padding: 40px;
}

section {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* FOOTER */
footer {
    background-color: #002b5c;
    color: white;
    text-align: center;
    padding: 20px;
}

/* CUADROS */
.cuadro-titulo {
    flex: 1;                 /* permite que se ajusten automáticamente */
    max-width: 35%;          /* evita que ocupen toda la fila */
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    text-align: center;
}
.cuadro-texto {
    flex: 1;                 /* permite que se ajusten automáticamente */
    max-width: 35%;          /* evita que ocupen toda la fila */
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* CONTENEDOR DE CUADROS*/
.contenedor {
    display: flex;
    flex-wrap: wrap;   /* permite salto de línea */
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

/* IMAGEN DE FONDO */
/* HERO reutilizable */
.hero {
    position: relative;
    height: 100vh; /* ocupa toda la pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Imagen como fondo */
.hero-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* ajusta la imagen sin deformarla */
    z-index: 0;
    opacity: 0;
    transition: opacity 1s easi-in-out;
}

/* Imagen visible */
.hero-img.active {
    opacity: 1;
    transform: scale(1.05);
}

/* Capa oscura */
.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1;
}

/* Texto */
.hero-texto {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
    max-width: 800px;
    padding: 20px;
}
.hero-texto h2 {
    font-size: clamp(3rem, 5vw, 4rem);
}

.hero-texto p {
    font-size: clamp(1.5rem, 2.5vw, 2rem);
}

/* LAYOUT DE VALORES */
.layout {
    display: flex;
    gap: 20px; /* separación entre izquierda y derecha */
    margin: 40px 0;
}

/* cuadro grande izquierda */
.titulo {
    flex: 1;
    background: #e0e0e0;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* columna derecha */
.lista {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    gap: 15px; /* separación entre cuadros */
}

/* cuadros pequeños */
.box {
    background: #f2f2f2;
    color: black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}