/* RESET BÁSICO */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
}

/* HEADER */
header {
    background-color: #002b5c;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LOGO Y TITULO */
.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 60px;
    margin-right: 15px;
}

/* NAVEGACIÓN */
nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #ffd700;
}

/* BOTÓN AULA VIRTUAL DESTACADO */
.btn-aula {
    background-color: #ffd700;
    color: #002b5c !important;
    padding: 8px 15px;
    border-radius: 5px;
}

.btn-aula:hover {
    background-color: #e6c200;
}

/* CONTENIDO */
main {
    padding: 40px;
}

section {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* FOOTER */
footer {
    background-color: #002b5c;
    color: white;
    text-align: center;
    padding: 20px;
}

/* CUADROS */
.cuadro {
    width: 45%;              /* ocupa la mitad de la pantalla */
    background-color: #002b5c; /* color de fondo */
    padding: 20px;           /* espacio interno */
    border-radius: 10px;     /* bordes redondeados */
    box-shadow: 0 2px 6px rgba(0,0,0,0.2); /* sombra */
    text-align: center;
}

/* CONTENEDOR DE CUADROS*/
.contenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}
